:root {
    --main-background-color: rgba(0, 127, 0, 0.4);
}

#flrh-dialog[open] {
    position: fixed;
    background-color: var(--main-background-color);
    top:0;
    left:0;
    gap: 1em;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.flrh-translatable:hover {
    box-shadow: 0 -5px 0 var(--main-background-color) inset;
}

.flrh-translated {
    display: inline-block;
    position: relative;
    padding-top: 1lh;
}

.flrh-translated-text {
    position: absolute;
    margin-top: -1lh;
    white-space: nowrap;
}

.flrh-highlight {
    background-color: rgba(200, 0, 0, 0.4);
}
